.orders-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.orders-section h1 {
    color: #f18d4d;
    font-weight: 600;
}

.orders-section hr {
    width: 10%;
    margin: 0 auto 10px auto;
    background-color: #f18d4d;
}
.order-card {
    border-radius: 10px;
}

.order-text {
    font-size: 20px;
}

.order-text h2 {
    color: #00827b;
}
#description{
    font-size: 15px;
}
#price{
    font-size: 30px;
}
