.products-section {
    padding-top: 11px;
    padding-bottom: 12px;
}

.products-section h1 {
    color: black;
}
.products-section hr{
    color: #f18d4d;
}

.products-section hr {
    width: 10%;
    margin: 0 auto 10px auto;
    background-color: #f18d4d;
}