.products-section {
    padding-top: 11px;
    padding-bottom: 12px;
    
}

.products-section h1 {
    color: #f18d4d;
    text-shadow: 2px 2px black;
}

.products-section hr {
    width: 10%;
    margin: 0 auto 10px auto;
    background-color: #f18d4d;
}