
#logo{  
    padding: 20px;
}
#dash-links a{
    border-bottom: 2px solid white;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.appbar{
 background: #67B26F; 
background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F); 
background: linear-gradient(to right, #4ca2cd, #67B26F); 

}