.register-section{
    background-image: url('https://images.pexels.com/photos/638479/pexels-photo-638479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

/* Mobile device */
 @media only screen and (max-width:688px){
     .register-section{
         height: 115vh;
     }
     .register-form{
         width: 80% !important;
     }
 }