.navbar-area{
    background-color: #000000;
   
}
.logo-area{
    width: 10%;
}
.logo{
    width: 100%;
}
#left-nav{
     margin-left: 30px;
}
.nav-area a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-bottom: 2px solid transparent;
}
.nav-area a:hover{
    color: #f18d4d;
    transition: 0.5s;
    border-bottom: 2px solid #f18d4d ;
}
#username{
    border-right: 2px solid #f18d4d;
    padding-right: 6px;
}

/* Mobile device */
 @media only screen and (max-width:688px) {
.logo-area{
    width: 30%;
}
.logo{
    width: 100%;
}
#left-nav{
     margin-left: 0px;
}
.nav-area a{
    margin: 0 auto;
}
.hidden-nav{
    display: flex;
    flex-direction: column;
}
#username{
    margin: 2px auto;
    border-right: none;
      padding-right: 0;
}

}


 /* Tab */
 @media only screen and (min-width: 688px) and (max-width: 992px) {
     .logo-area{
    width: 30%;
}
.logo{
    width: 100%;
}
#left-nav{
     margin-left: 0px;
}
.nav-area a{
    margin: 0 auto;
}
.hidden-nav{
    display: flex;
    flex-direction: column;
}
#username{
    margin: 2px auto;
    border-right: none;
      padding-right: 0;
}

}